In [1]:
mixed_elements = [1, 3 , 9, "abba", "the", "beatles"]

In [2]:
mixed_elements[0] = str(mixed_elements[0])

In [3]:
mixed_elements

['1', 3, 9, 'abba', 'the', 'beatles']

In [4]:
my_str = "abba was a swedish band"

In [5]:
my_str[0]

'a'

In [6]:
my_str[0] = 'A'

TypeError: 'str' object does not support item assignment

In [7]:
mixed_elements[1] = str(2)

In [8]:
mixed_elements

['1', '2', 9, 'abba', 'the', 'beatles']

In [9]:
my_str[1] = str(2)

TypeError: 'str' object does not support item assignment

In [10]:
phone_book = {'jack': 4321, 'rose': 8798}

In [11]:
print(phone_book)

{'jack': 4321, 'rose': 8798}

In [12]:
type(phone_book)

dict

In [13]:
phone_book['jack']

4321

In [14]:
phone_book['jak']

KeyError: 'jak'

In [15]:
phone_book['jak'] = 7645

In [16]:
phone_book['jacques'] = 3398768

In [17]:
phone_book

{'jack': 4321, 'rose': 8798, 'jak': 7645, 'jacques': 3398768}

In [18]:
del phone['rose']

NameError: name 'phone' is not defined

In [19]:
del phone_book['rose']

In [20]:
phone_book

{'jack': 4321, 'jak': 7645, 'jacques': 3398768}

In [21]:
phone_book.keys()

dict_keys(['jack', 'jak', 'jacques'])

In [22]:
phone_book.values()

dict_values([4321, 7645, 3398768])

In [23]:
'rose' in phone_book

False

In [24]:
'jack' in phone_book

True

In [25]:
'the' in mixed_elements

True

In [26]:
'abba' in my_str

True

In [27]:
1 in mixed_elements

False

In [28]:
"1" in mixed_elements

True

In [29]:
mixed_elements

['1', '2', 9, 'abba', 'the', 'beatles']

In [30]:
mixed_elements[2] = str(mixed_elements[2])

In [31]:
mixed_elements

['1', '2', '9', 'abba', 'the', 'beatles']

In [32]:
mixed_elements[2] = "2"

In [33]:
mixed_elements

['1', '2', '2', 'abba', 'the', 'beatles']

In [34]:
from collections import Counter

In [35]:
Counter(mixed_elements)

Counter({'1': 1, '2': 2, 'abba': 1, 'the': 1, 'beatles': 1})

In [36]:
mixed_dictionary = Counter(mixed_elements)

In [37]:
mixed_dictionary

Counter({'1': 1, '2': 2, 'abba': 1, 'the': 1, 'beatles': 1})

In [38]:
type(mixed_dictionary)

collections.Counter

In [39]:
first_paragraph = "The Grand Budapest Hotel is a 2014 comedy-drama film written and directed by Wes Anderson. Ralph Fiennes leads a seventeen-actor ensemble cast as Monsieur Gustave H., famed concierge of a twentieth-century mountainside resort in the fictional country of Zubrowka. When Gustave is framed for the murder of a wealthy dowager (Tilda Swinton), he and his recently befriended protégé Zero (Tony Revolori) embark on a quest for fortune and a priceless Renaissance painting amidst the backdrop of an encroaching fascist regime. Anderson's American Empirical Pictures produced the film in association with Studio Babelsberg, Fox Searchlight Pictures, and Indian Paintbrush's Scott Rudin and Steven Rales. Fox Searchlight supervised the commercial distribution, and The Grand Budapest Hotel's funding was sourced through Indian Paintbrush and German government-funded tax rebates.Anderson and longtime collaborator Hugo Guinness conceived The Grand Budapest Hotel as a fragmented tale following a character inspired by a common friend. They initially struggled in their brainstorming, but the experience touring Europe and researching the literature of Austrian novelist Stefan Zweig shaped their vision for the film. The Grand Budapest Hotel draws visually from Europe-set mid-century Hollywood films and the Library of Congress's photochrom print collection of alpine resorts. Principal photography took place in eastern Germany from January to March 2013. French composer Alexandre Desplat composed the symphonic, Russian folk-inspired score, which expanded on his early work with Anderson. The film explores themes of fascism, nostalgia, friendship, and loyalty, and further studies emphasize the function of color as an important storytelling device. The Grand Budapest Hotel premiered in competition at the 64th Berlin International Film Festival on February 6, 2014. The French theatrical release on February 26 preceded the film's global rollout, followed by releases in Germany, North America, and the United Kingdom on March 6–7. The Grand Budapest Hotel received widespread acclaim for its craftsmanship, acting, and comedy; occasional criticism centered on the film's approach to the subject matter, fragmented storytelling, and characterization. It earned US$172.9 million in box office revenue worldwide, Anderson's highest grossing feature to date. The film led the 87th Academy Awards season with nine nominations (winning four), and earned several other accolades, chiefly for writing and technical achievement."
first_paragraph_words = first_paragraph.split(" ")
dict_first_paragraph = Counter(first_paragraph_words)

In [40]:
dict_first_paragraph

Counter({'The': 9,
         'Grand': 6,
         'Budapest': 6,
         'Hotel': 5,
         'is': 2,
         'a': 9,
         '2014': 1,
         'comedy-drama': 1,
         'film': 4,
         'written': 1,
         'and': 17,
         'directed': 1,
         'by': 3,
         'Wes': 1,
         'Anderson.': 2,
         'Ralph': 1,
         'Fiennes': 1,
         'leads': 1,
         'seventeen-actor': 1,
         'ensemble': 1,
         'cast': 1,
         'as': 3,
         'Monsieur': 1,
         'Gustave': 2,
         'H.,': 1,
         'famed': 1,
         'concierge': 1,
         'of': 9,
         'twentieth-century': 1,
         'mountainside': 1,
         'resort': 1,
         'in': 7,
         'the': 17,
         'fictional': 1,
         'country': 1,
         'Zubrowka.': 1,
         'When': 1,
         'framed': 1,
         'for': 5,
         'murder': 1,
         'wealthy': 1,
         'dowager': 1,
         '(Tilda': 1,
         'Swinton),': 1,
         'he': 1,
         'his': 2,
         'recently': 1,
         'befriended': 1,
         'protégé': 1,
         'Zero': 1,
         '(Tony': 1,
         'Revolori)': 1,
         'embark': 1,
         'on': 6,
         'quest': 1,
         'fortune': 1,
         'priceless': 1,
         'Renaissance': 1,
         'painting': 1,
         'amidst': 1,
         'backdrop': 1,
         'an': 2,
         'encroaching': 1,
         'fascist': 1,
         'regime.': 1,
         "Anderson's": 2,
         'American': 1,
         'Empirical': 1,
         'Pictures': 1,
         'produced': 1,
         'association': 1,
         'with': 3,
         'Studio': 1,
         'Babelsberg,': 1,
         'Fox': 2,
         'Searchlight': 2,
         'Pictures,': 1,
         'Indian': 2,
         "Paintbrush's": 1,
         'Scott': 1,
         'Rudin': 1,
         'Steven': 1,
         'Rales.': 1,
         'supervised': 1,
         'commercial': 1,
         'distribution,': 1,
         "Hotel's": 1,
         'funding': 1,
         'was': 1,
         'sourced': 1,
         'through': 1,
         'Paintbrush': 1,
         'German': 1,
         'government-funded': 1,
         'tax': 1,
         'rebates.Anderson': 1,
         'longtime': 1,
         'collaborator': 1,
         'Hugo': 1,
         'Guinness': 1,
         'conceived': 1,
         'fragmented': 2,
         'tale': 1,
         'following': 1,
         'character': 1,
         'inspired': 1,
         'common': 1,
         'friend.': 1,
         'They': 1,
         'initially': 1,
         'struggled': 1,
         'their': 2,
         'brainstorming,': 1,
         'but': 1,
         'experience': 1,
         'touring': 1,
         'Europe': 1,
         'researching': 1,
         'literature': 1,
         'Austrian': 1,
         'novelist': 1,
         'Stefan': 1,
         'Zweig': 1,
         'shaped': 1,
         'vision': 1,
         'film.': 1,
         'draws': 1,
         'visually': 1,
         'from': 2,
         'Europe-set': 1,
         'mid-century': 1,
         'Hollywood': 1,
         'films': 1,
         'Library': 1,
         "Congress's": 1,
         'photochrom': 1,
         'print': 1,
         'collection': 1,
         'alpine': 1,
         'resorts.': 1,
         'Principal': 1,
         'photography': 1,
         'took': 1,
         'place': 1,
         'eastern': 1,
         'Germany': 1,
         'January': 1,
         'to': 3,
         'March': 2,
         '2013.': 1,
         'French': 2,
         'composer': 1,
         'Alexandre': 1,
         'Desplat': 1,
         'composed': 1,
         'symphonic,': 1,
         'Russian': 1,
         'folk-inspired': 1,
         'score,': 1,
         'which': 1,
         'expanded': 1,
         'early': 1,
         'work': 1,
         'explores': 1,
         'themes': 1,
         'fascism,': 1,
         'nostalgia,': 1,
         'friendship,': 1,
         'loyalty,': 1,
         'further': 1,
         'studies': 1,
         'emphasize': 1,
         'function': 1,
         'color': 1,
         'important': 1,
         'storytelling': 1,
         'device.': 1,
         'premiered': 1,
         'competition': 1,
         'at': 1,
         '64th': 1,
         'Berlin': 1,
         'International': 1,
         'Film': 1,
         'Festival': 1,
         'February': 2,
         '6,': 1,
         '2014.': 1,
         'theatrical': 1,
         'release': 1,
         '26': 1,
         'preceded': 1,
         "film's": 2,
         'global': 1,
         'rollout,': 1,
         'followed': 1,
         'releases': 1,
         'Germany,': 1,
         'North': 1,
         'America,': 1,
         'United': 1,
         'Kingdom': 1,
         '6–7.': 1,
         'received': 1,
         'widespread': 1,
         'acclaim': 1,
         'its': 1,
         'craftsmanship,': 1,
         'acting,': 1,
         'comedy;': 1,
         'occasional': 1,
         'criticism': 1,
         'centered': 1,
         'approach': 1,
         'subject': 1,
         'matter,': 1,
         'storytelling,': 1,
         'characterization.': 1,
         'It': 1,
         'earned': 2,
         'US$172.9': 1,
         'million': 1,
         'box': 1,
         'office': 1,
         'revenue': 1,
         'worldwide,': 1,
         'highest': 1,
         'grossing': 1,
         'feature': 1,
         'date.': 1,
         'led': 1,
         '87th': 1,
         'Academy': 1,
         'Awards': 1,
         'season': 1,
         'nine': 1,
         'nominations': 1,
         '(winning': 1,
         'four),': 1,
         'several': 1,
         'other': 1,
         'accolades,': 1,
         'chiefly': 1,
         'writing': 1,
         'technical': 1,
         'achievement.': 1})

In [41]:
dict_first_paragraph.most_common(1)

[('and', 17)]

In [42]:
dict_first_paragraph.most_common(3)

[('and', 17), ('the', 17), ('The', 9)]

In [43]:
first_paragraph= first_paragraph.lower()

In [44]:
first_paragraph_words = first_paragraph.split(" ")

In [45]:
dict_first_paragraph = Counter(first_paragraph_words)

In [46]:
dict_first_paragraph.most_common(1)

[('the', 26)]

In [47]:
dict_first_paragraph.most_common(3)

[('the', 26), ('and', 17), ('a', 9)]

In [48]:
type_flower = "tulip"

In [49]:
type_rose = True

In [50]:
type_flower == type_rose

False

In [51]:
type_flower == "tulip"

True

In [52]:
price_flower = 9

In [53]:
type_flower != price_flower

True

In [54]:
price_flower<9

False

In [55]:
price_flower < 10

True

In [56]:
price_flower < 10 and type_flower =="tulip"

True

In [57]:
price_flower <9 and type_flower == "tulip"

False

In [58]:
price_flower <= 9 and type_flower != "tulip"

False

In [59]:
price_flower > 9 and type_flower != "tulip"

False

In [60]:
not price_flower ==9

False

In [61]:
price_flower != 9

False

In [62]:
my_string = "the beatles is a great band"

In [64]:
if "the" in my_string:
    print("this is my first if statement")

this is my first if statement

In [65]:
if "the" not in my_string:
    print("Yay!!!")

In [66]:
if "the" not in my_string:
    print("Yay")
else:
    print(my_string)

the beatles is a great band

In [67]:
if "the" in my_string:
    print("Yay")
else:
    print(my_string)

Yay

In [68]:
if "the" in my_string and price_flower ==9:
    print("double yay")
else: 
    print(my_string)

double yay

In [69]:
if "abba" in my_string:
    print("yay abba is here")
elif "beatles" in my_string:
    print ("beatles are here")
else:
    print(my_string)

beatles are here

In [70]:
if "abba" in my_string:
    print("yay abba is here")
elif "the rolling stones" in my_string:
    print("wow the rollings are here instead")
elif "the beatles" in my_string:
    print("I love the beatles")
else:
    print("I am tired!!!")

I love the beatles

In [71]:
if "abba" in my_string:
    print("yay abba is here")
elif "the rolling stones" in my_string:
    print("wow the rollings are here instead")
elif "the Beatles" in my_string:
    print("I love the beatles")
else:
    print("I am tired!!!")

I am tired!!!

In [72]:
if "abba" in my_string:
    print("yay abba is here")
elif "the rolling stones" in my_string:
    print("wow the rollings are here instead")
elif "the Beatles" or "the beatles" in my_string:
    print("I love the beatles")
else:
    print("I am tired!!!")

I love the beatles

In [73]:
my_string = my_string.lower()

In [74]:
if "abba" in my_string:
    print("yay abba is here")
elif "the rolling stones" in my_string:
    print("wow the rollings are here instead")
elif "the beatles" in my_string:
    print("I love the beatles")
else:
    print("I am tired!!!")

I love the beatles

For Loops!

In [80]:
mixed_elements = [1, 3 , 9, "abba", "the", "beatles"]

In [81]:
mixed_elements[0] =str(mixed_elements[0])

In [82]:
mixed_elements[1] =str(mixed_elements[0])

In [83]:
mixed_elements[2] =str(mixed_elements[0])

In [84]:
mixed_elements

['1', '1', '1', 'abba', 'the', 'beatles']

In [85]:
mixed_elements = [1, 3 , 9, "abba", "the", "beatles"]

In [86]:
for element in mixed_elements:
    print(element)

1
3
9
abba
the
beatles

In [87]:
for element in mixed_elements:
    print(str(mixed_elements))

[1, 3, 9, 'abba', 'the', 'beatles']
[1, 3, 9, 'abba', 'the', 'beatles']
[1, 3, 9, 'abba', 'the', 'beatles']
[1, 3, 9, 'abba', 'the', 'beatles']
[1, 3, 9, 'abba', 'the', 'beatles']
[1, 3, 9, 'abba', 'the', 'beatles']

In [88]:
print("the", "beatles")

the beatles

In [89]:
for element in mixed_elements:
    print(element, mixed_elements )

1 [1, 3, 9, 'abba', 'the', 'beatles']
3 [1, 3, 9, 'abba', 'the', 'beatles']
9 [1, 3, 9, 'abba', 'the', 'beatles']
abba [1, 3, 9, 'abba', 'the', 'beatles']
the [1, 3, 9, 'abba', 'the', 'beatles']
beatles [1, 3, 9, 'abba', 'the', 'beatles']

In [91]:
for element in mixed_elements:
    print(type(str(element)))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [92]:
element

'beatles'

In [93]:
for banana in ['canary island', 'africa', 'south_america']:
    print(banana)

canary island
africa
south_america

In [94]:
for elements in mixed_list:
    mixed_list[element] = str(element)

NameError: name 'mixed_list' is not defined

In [96]:
for elements in [0,1,2]:
    mixed_elements[elements] = str(mixed_elements[elements])

In [97]:
mixed_elements

['1', '1', '9', 'abba', 'the', 'beatles']

In [98]:
range(0, 2)

range(0, 2)

In [99]:
for i in range(0,2):
    print(i)

0
1

In [114]:
for element in range(0,len(mixed_elements)+1):
    mixed_elements[elements] = str(mixed_elements[elements])

In [101]:
mixed_elements

['1', '1', '9', 'abba', 'the', 'beatles']

In [103]:
mixed_list= [1, 3, 5, 'abba', 'the', 'beatles', True]

In [105]:
mixed_list

[1, 3, 5, 'abba', 'the', 'beatles', True]

In [107]:
for element in mixed_list:
    if type(element) ==str:
        print(element, "is string")
    else: 
        print(str(element))

1
3
5
abba is string
the is string
beatles is string
True

In [108]:
for element in mixed_list:
    if type(element) ==str:
        print(element, "is string")
    else:

IndentationError: expected an indented block (<ipython-input-108-126b071cc364>, line 5)

In [109]:
for element in mixed_list:
    if type(element) ==str:
        print(element, "is string")
    else:

SyntaxError: unexpected EOF while parsing (<ipython-input-109-fa6f88c3bf16>, line 4)

In [110]:
for element in mixed_list:
    if type(element) ==str:
        print(element, "is string")

abba is string
the is string
beatles is string

In [111]:
for element in mixed_list:
    if type(element) ==str:
        print(element, "is string")
print(element)

abba is string
the is string
beatles is string
True

In [112]:
print(element)

True

In [113]:
print(banana)

south_america

In [115]:
len(mixed_elements)

6

['1', '1', '9', 'abba', 'the', 'beatles']

In [126]:
for banana in range(0, len(mixed_elements)):
    print(mixed_elements[banana])

1
1
9
abba
the
beatles

In [124]:
i = "Tina"

In [125]:
i

'Tina'

In [127]:
for char in "Tina":
    print(char)

T
i
n
a